.contact-form {
  min-height: 40vh;
  margin-top: 20px !important;
}



.display-box {
  display: flex;
  height: 10vh;
  width: 70%;
  align-items: center;
  gap: 14px;
  background: #222222;
  padding: 14px 18px;
  border-radius: 5px;
  margin-bottom: 10px;
  border: 1px solid #777777;
  cursor: pointer;
  text-decoration: none !important;
  /* 🔥 NEW BOX SHADOW */
  box-shadow: none;
  transition: 0.3s ease;
}

.display-box:hover {
  /* Show glow only on hover */
  box-shadow: 0 0 20px #6D3D94;
  transform: translateY(-2px);
}

.icon {
  width: 10%;
  height: 4vh;

}

.display-box p {
  margin: 0;
  font-size: 18px;
  color: white;
}


.form-line {
  margin-left: 0px;
  color: white;
}

@media screen and (max-width: 1024px) {
  .contact-form {
    height: auto;
  }

  .display-box {
    width: 100%;
  }
}

@media screen and (max-width: 768px) {
  .display-box p {
    font-size: 16px;
  }
}

@media screen and (max-width: 425px) {
  .display-box p {
    font-size: 14px;
  }

  .display-box {
    padding: 10px 15px;
  }
}