.about-header {
  /* height: 4vh; */
  display: inline-flex;
  height: 15vh !important;
  align-items: center;
  justify-content: center;
  width: 100%;
  /* ⭐ Only content width */
  /* border: solid 2px pink; */


}

/* Heading — margins removed so width expand nahi karti */
.about-heading {
  color: #FFFFFF;
  font-family: 'Kaushan Script', cursive;
  font-weight: 400;
  font-style: italic;
  font-size: 24px;
  line-height: 100%;
  letter-spacing: 0%;

  margin-top: 75px !important;
  /* ⭐ IMPORTANT FIX */
}

/* Icons */
.about-icon {
  position: relative;
  margin-top: 75px;
}

.left-icon {
  animation: leftMove 2s ease-in-out infinite;
}

@keyframes leftMove {
  0% {
    transform: translateX(0);
  }

  50% {
    transform: translateX(-550px);
  }

  100% {
    transform: translateX(0);
  }
}

/* Right icon move */
.right-icon {
  animation: rightMove 2s ease-in-out infinite;
}

@keyframes rightMove {
  0% {
    transform: translateX(0);
  }

  50% {
    transform: translateX(550px);
  }

  100% {
    transform: translateX(0);
  }
}

@media screen and (max-width: 1024px) {
  @keyframes leftMove {
    0% {
      transform: translateX(0);
    }

    50% {
      transform: translateX(-200px);
    }

    100% {
      transform: translateX(0);
    }
  }

  @keyframes rightMove {
    0% {
      transform: translateX(0);
    }

    50% {
      transform: translateX(200px);
    }

    100% {
      transform: translateX(0);
    }
  }
}


@media screen and (max-width: 768px) {
  .about-heading {
    font-size: 20px;
    margin-top: 0px !important;
    /* Remove gap on mobile */
  }

  .about-icon {
    margin-top: 0px;
    /* Remove gap on mobile */
  }

  @keyframes leftMove {
    0% {
      transform: translateX(0);
    }

    50% {
      transform: translateX(-150px);
    }

    100% {
      transform: translateX(0);
    }
  }

  @keyframes rightMove {
    0% {
      transform: translateX(0);
    }

    50% {
      transform: translateX(150px);
    }

    100% {
      transform: translateX(0);
    }
  }
}

@media screen and (max-width: 640px) {
  .about-heading {
    font-size: 18px;
  }

  .about-header {
    height: 10vh !important;
  }

  @keyframes leftMove {
    0% {
      transform: translateX(0);
    }

    50% {
      transform: translateX(-100px);
    }

    100% {
      transform: translateX(0);
    }
  }

  @keyframes rightMove {
    0% {
      transform: translateX(0);
    }

    50% {
      transform: translateX(100px);
    }

    100% {
      transform: translateX(0);
    }
  }
}

@media screen and (max-width: 425px) {
  @keyframes leftMove {
    0% {
      transform: translateX(0);
    }

    50% {
      transform: translateX(-50px);
    }

    100% {
      transform: translateX(0);
    }
  }

  @keyframes rightMove {
    0% {
      transform: translateX(0);
    }

    50% {
      transform: translateX(50px);
    }

    100% {
      transform: translateX(0);
    }
  }
}