.about-container {
  width: 100%;
  min-height: 100vh;
  height: auto;
  background: #000000;
  padding: 0px 4% 80px 4%;
  text-align: center;
  position: relative;
  z-index: 2;
  box-sizing: border-box;

}

.about-flex {
  min-height: 60vh;
  /* height: auto; */
  display: flex;
  justify-content: center;
  /* Center cards more naturally */
  gap: 80px;
  /* Consistent gap between cards */
  flex-wrap: wrap;
  max-width: 1400px;
  margin: 40px auto 0;
}

@media screen and (min-width: 1600px) {
  .about-flex {
    max-width: 1600px;
    gap: 60px;
  }
}

@media screen and (max-width: 1024px) {
  .about-container {
    padding-top: 40px;
  }

  .about-flex {
    height: auto;
    flex-direction: column;
    align-items: center;
    gap: 40px;
    padding: 0 10px;
    margin-top: 20px;
  }
}

@media screen and (max-width: 768px) {
  .about-container {
    padding-top: 40px;
    padding-bottom: 40px;
  }
}

@media screen and (max-width: 425px) {
  .about-container {
    padding: 80px 15px;
  }

  .about-flex {
    gap: 30px;
  }
}

@media screen and (max-width: 320px) {
  .about-container {
    padding-top: 30px;
  }
}