.footer-bar {
  min-height: 15vh;
  height: auto;
  background: #6D3D94;
  color: white;
  text-align: center;
  padding: 40px 20px;
  display: flex;
  flex-direction: column;
  /* vertical layout */
  align-items: center;
  margin-top: 0;
}

.footer-icons {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 18px;
}

.footer-icons a {
  display: inline-block;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.footer-icons a:hover {
  transform: translateY(-3px);
  box-shadow: 0 0 12px #6D3D94;
}

.icon {
  width: 38px;
  height: 38px;
}

.footer-text {
  width: 90%;
  max-width: 800px;
  color: white;
  margin: 0;
  margin-top: 25px !important;
  font-size: 30px;
  font-family: 'Gill Sans', ;
  line-height: 1.4;
}

@media screen and (max-width: 1024px) {
  .footer-bar {
    height: auto;
    padding: 40px 20px;
    margin-top: 0;
  }

  .footer-text {
    width: 90%;
    font-size: 16px;
  }
}

@media screen and (max-width: 640px) {
  .footer-text {
    font-size: 14px;
  }
}