.contact-image img {
  width: 100%;
  max-width: 350px;
  height: auto;
  margin: 10px auto;
  display: block;
}


@media screen and (max-width: 1024px) {
  .contact-image img {
    margin-top: 0;
    max-width: 400px;
  }
}

@media screen and (max-width: 425px) {
  .contact-image img {
    max-width: 300px;
  }
}