.profile-container {
  margin-top: 80px;
  width: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
  perspective: 1200px;
  margin-right: 2%;
}

.profile-pic {
  width: 90%;
  max-width: 550px;
  height: auto;
  aspect-ratio: 1/1;
  border-radius: 50%;
  transition: transform 0.1s linear;
  transform-style: preserve-3d;
}

@media screen and (min-width: 1600px) {
  .profile-pic {
    max-width: 650px;
  }
}

@media screen and (max-width: 1024px) {
  .profile-container {
    width: 100%;
    max-width: 450px;
    height: auto;
    margin: 40px auto 0 auto;
    padding-bottom: 20px;
  }

  .profile-pic {
    width: 85%;
    max-width: 400px;
  }
}

@media screen and (max-width: 768px) {
  .profile-container {
    max-width: 350px;
    margin-top: 20px;
  }
}

@media screen and (max-width: 440px) {
  .profile-container {
    max-width: 320px;
  }
}

@media screen and (max-width: 375px) {
  .profile-container {
    max-width: 280px;
  }
}

@media screen and (max-width: 320px) {
  .profile-container {
    max-width: 240px;
  }
}