.contact-page {
  background: #000000;
  color: #fff;
  min-height: auto;
  width: 100%;
  padding-top: 100px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}

.contact-section {
  flex: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 60px 1%;
  max-width: 1500px;
  /* Increased slightly to allow more spread */
  margin: 0 auto;
  gap: 90px;
}


.left {
  width: 45%;
  flex-shrink: 0;
}

.right {
  width: 45%;
  display: flex;
  justify-content: center;
}

@media screen and (min-width: 1600px) {
  .contact-section {
    max-width: 1600px;
    gap: 100px;
  }
}

@media screen and (max-width: 1024px) {
  .contact-page {
    padding-top: 120px;
  }

  .contact-section {
    flex-direction: column-reverse;
    padding: 20px 30px 60px;
    align-items: center;
    gap: 50px;
  }

  .left,
  .right {
    width: 100%;
    max-width: 600px;
  }
}

@media screen and (max-width: 768px) {
  .contact-section {
    padding: 0px 20px 60px;
  }
}

@media screen and (max-width: 425px) {
  .contact-page {
    padding-top: 80px;
  }

  .contact-section {
    padding: 0px 15px 40px;
    gap: 40px;
  }
}