.contact-page {
  background: #000000;
  color: #fff;
  height: 100vh;
  width: 100%;
  /* border: 2px solid blue; */
}

.contact-section {
  display: flex;
  justify-content: space-between;
  padding: 80px;
  max-width: 1400px;
  margin: 0 auto;
}

.left {
  width: 40%;
}

.right {
  width: 50%;
}

@media screen and (max-width: 1024px) {
  .contact-page {
    height: auto;
    padding-bottom: 50px;
  }

  .contact-section {
    flex-direction: column-reverse;
    padding: 100px 30px 40px;
    align-items: center;
    gap: 40px;
  }

  .left,
  .right {
    width: 100%;
    max-width: 600px;
  }
}

@media screen and (max-width: 768px) {
  .contact-section {
    padding: 80px 20px 40px;
  }
}

@media screen and (max-width: 425px) {
  .contact-section {
    padding: 60px 15px 30px;
  }
}